/*
 *
 * Top Nav styles - http://twbscolor.smarchal.com/ 
 *
 */

/*
 * 
 * Baseline Styles
 *
 */

html, body {
  font-family: "Gill Sans","Gill Sans MT",Calibri,sans-serif;
  font-weight: 300;
  font-size: 13px;
  line-height: 1.33;
  color: #D4EBFA;
  background-color: #ffffff;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Gill Sans","Gill Sans MT",Calibri,sans-serif;
  font-weight: 500;
  font-size:  24px;
  margin: 0px;
  padding: 0px;
  color: #D4EBFA;
}

.container {
  max-width: 1000px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0px;
}

a, a:visited {
  text-decoration: none;
  color: #000000;
}
  a:hover {
    color: #6de5f0;
    -webkit-transition: all 0.3s ease;
       -moz-transition: all 0.3s ease;
         -o-transition: all 0.3s ease;
            transition: all 0.3s ease;
  }

/*
 * 
 * main
 *
 */

 .container-fluid {
  padding-left: 0px;
  padding-right: 0px;
 }

.menu-bar {
  height: 66px;
  background: #72716E;
}

.menu-bar::after{
  clear: both;
  content: "";
}

.menu-back, .menu-home {
  text-align: center;
  -moz-transition:all 0.3s ease-in-out;
  -webkit-transition:all 0.3s ease-in-out;
  -o-transition:all 0.3s ease-in-out;
  -ms-transition:all 0.3s ease-in-out;
  transition:padd 0.3s ease-in-out;
}

.menu-back h2, .menu-home h2 {
  font-size: 21px;
}

.menu-back:hover{
  padding-left: 5px;
}

.menu-home:hover{
  -moz-transform:scale(0.9)  ;
  -webkit-transform:scale(0.9) ;
  -o-transform:scale(0.9)  ;
  -ms-transform:scale(0.9) ;
  transform:scale(0.9)  ;
}

.menu-welcome {
  text-align: center;
  padding: 10px 0px;
}

h1{
  font-size: 28px;
  line-height: 32px;
  font-weight: 500;
  padding-top: 7px;
  color: #ffffff;
}

img {
  width: 36px;
  height: auto;
  margin: 0;
  padding: 15px 0px 15px 0px;
}

/*
 * 
 * Home
 *
 */

 .date {
  height: 150px;
 }

 .day {
  width: 30%;
  float: left;
  background: #ffffff;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
 }

.day h4 {
  font-size: 100px;
  line-height: 100px;
  color: #A5CBEB;
  margin-top: 5px;
 }

 .day h3 {
  color: #ffffff;
  background: #A5CBEB;
 }

 .month {
  float: left;
  color: #848588;
  background: #ffffff;
  width: 70%;
  text-align: right;
 }

 .month h3 {
  font-size: 160px;
  line-height: 110px;
  margin-top: 21px; /* previously 40px for baseline */
  color: #A5CBEB;
 }

 .btn {
  width: 100%;
  height: 125px;
  font-size: 100px;
  line-height: 100px;
 }

/*
 * 
 * medication-home
 *
 */

.medication-home {
  height: 484px;
  background: #ffffff;
 }

.medication-home .day, .medication-home .month {
  background: #ffffff;
  /*background: black;*/
}

.thumbnails {
  width: 75%;
  float: left;
}

.medication-home .day {
  width: 25%;
}

.medication-home .day h4{
  margin-top: 4px;
}

.medication-home .month {
  width: 100%;
}

.medication-home .month h3{
  margin-top: 174px;
}

.thumbnail-wrapper{
  width: 40px;
  height: 40px;
  /*background: #848588;*/
  display: inline-block;
  padding: 2px;
  margin: 20px;
}

.cure input {
  border-radius: 5px;
  width: 95%;
}

.wrapper-adjust {
  margin-top: 0px;
  margin-bottom: 0px;
}

.thumbnails p {
  display: inline-block;
  font-weight: 500;
  color: #5A4017;
}

.thumbnails img {
  text-align: center;
  padding: 0;
}

/*.input-group-override2 .btn-img-container{
  width: 30%;
  float: left;
  text-align: center;
  height: 125px;
  padding-top: 30px;
  background: rgb(51, 122, 183);
}*/

.input-group-override2 .btn {
  text-align: right;
  font-size: 79px;
}

 /*
 * 
 * medication-add
 *
 */

.wrapper-adjust2 {
  margin-bottom: 0px;
}

.add1 h4 {
  font-size: 100px;
  line-height: 100px;
  color: #91CC95;
  margin-top: 5px;
 }

 .add1 h3 {
  color: #ffffff;
  background: #91CC95;
 }

/* .add2 h3 {
  font-size: 160px;
  line-height: 110px;
  margin-top: 40px;
  color: #91CC95;
 }

 .medication-add .month h3{
  margin-top: 239px;
  background-color: #ffffff;
  color: #91CC95;
}

.medication-add .month h3:hover{
  color: #00A260;
  cursor: pointer;
}*/

.input-group-override3 .btn-primary {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #91CC95;
}

.input-group-override3 .btn-primary:hover {
  color: #00A260;
}

.input-group-override4 .btn-primary {
  background-color: #91CC95;
  border-color: #91CC95;
}

.input-group-override4 .btn-primary:hover {
  background-color: #00A260;
  border-color: #00A260;
}

/*
 * 
 * doc-notes
 *
 */


.note1 h4 {
  font-size: 100px;
  line-height: 100px;
  color: #FFD5A1;
  margin-top: 5px;
 }

 .note1 h3 {
  color: #ffffff;
  background: #FFD5A1;
 }

.input-group-override5 .btn-primary {
  background-color: #FFD5A1;
  border-color: #FFD5A1;
  color: #ffffff;
}

.input-group-override5 .btn-primary:hover {
  background-color: #FFBBA1;
  border-color: #FFBBA1;
}

.input-group-override6 .btn-primary {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #FFD5A1;
}

.input-group-override6 .btn-primary:hover {
  color: #FFD5A1;
  cursor: default;
}

 /*
 * 
 * my Grid
 *
 */

 @media only screen 
and (max-width : 375px) {

  .menu-back, .menu-home, .menu-welcome {
    text-align: center;
  }

}

/*
 * 
 * Default Grid
 *
 */

/* * { -moz-box-sizing: border-box; box-sizing: border-box; }
.container {
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 1000px;
  padding: 0 2%;
}

.row {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.column, .columns {
  float: left;
  min-height: 1px;
  padding: 0 1%;
}
.row > .column:first-of-type, .row > .columns:first-of-type {
  padding-left: 0;
}
.row > .column:last-of-type, .row > .columns:last-of-type {
  padding-right: 0;
}

.one { width: 8.333333333%; }
.two { width: 16.666666666%; }
.three { width: 25%; }
.four { width: 33.33333333%; }
.five { width: 41.666666667%; }
.six { width: 50%; }
.seven { width: 58.333333333%; }
.eight { width: 66.666666667%; }
.nine { width: 75%; }
.ten { width: 83.333333333%; }
.eleven { width: 91.666666667%; }
.twelve { width: 100%; }

img { width: 100%; height: auto; }*/

@media only screen 
and (max-width : 768px) {

  .col-sm-2{
    width: 16.666666666%;
    float: left;
    
  }

  .col-sm-8{
    width: 66.666666667%;
    float: left;
  }

}

@media only screen 
and (max-width : 375px) {

  .col-sm-1{
    width: 50%;
  }

  .col-sm-10{
    width: 100%;
  }

}