<!-- main content start -->
<div class="container-fluid">
  <div class="add-medication"><img ng-src="#/img/logo.png"></div>
  <div class="description">Please choose a timeframe for the medication you are taking</div>
  
    <button type="button" class="btn btn-default duration">4 Hours</button>
    <button type="button" class="btn btn-default duration">6 Hours</button>
    <button type="button" class="btn btn-default duration">8 Hours</button>
    <button type="button" class="btn btn-default duration">Others</button>
  
</div>
<!-- main content end --> 