<!-- main content start -->
<div class="container-fluid">

<div class="add-medication">
    <div class="left-arrow"><img src="./img/arrow_left.png"></div>
        <div class="pill-img">
        <!-- <img ng-src="#/img/logo.png"> -->

        <!-- medicine thumbnails start -->
        <!-- <ul class="medicine-thumbs">
            <li ng-repeat="img in medicine.images">
                <img ng-src="{{img}}" ng-click="setImage(img)">
            </li>
        </ul> -->
        <!-- medicine thumbnails end -->

            <!-- Green medications start -->
            <!-- <img src="./img/medicinegreen_air.png"> -->
            <!-- <img src="./img/medicinegreen_cream.png"> -->
            <!-- <img src="./img/medicinegreen_drops.png"> -->
            <!-- <img src="./img/medicinegreen_liquid.png"> -->
            <!-- <img src="./img/medicinegreen_needle.png"> -->
            <!-- <img src="./img/medicinegreen_pill.png"> -->
            <img src="./img/medicinegreen_tablet.png">
            <!-- Green medications end -->

            <!-- Pink medications start -->
            <!-- <img src="./img/medicinepink_air.png"> -->
            <!-- <img src="./img/medicinepink_cream.png"> -->
            <!-- <img src="./img/medicinepink_drops.png">-->
            <!-- <img src="./img/medicinepink_liquid.png"> -->
            <!-- <img src="./img/medicinepink_needle.png"> -->
            <!-- <img src="./img/medicinepink_pill.png"> -->
            <!-- <img src="./img/medicinepink_tablet.png"> -->
            <!-- Pink medications end -->

            <!-- Pink medications start -->
            <!-- <img src="./img/medicinepink_air.png"> -->
            <!-- <img src="./img/medicinepink_cream.png"> -->
            <!-- <img src="./img/medicinepink_drops.png"> -->
            <!-- <img src="./img/medicinepink_liquid.png"> -->
            <!-- <img src="./img/medicinepink_needle.png"> -->
            <!-- <img src="./img/medicinepink_pill.png"> -->
            <!-- img src="./img/medicinepink_tablet.png"> -->
            <!-- Pink medications end -->

            <!-- Purple medications start -->
            <!-- <img src="./img/medicinepurple_air.png"> -->
            <!-- <img src="./img/medicinepurple_cream.png"> -->
            <!-- <img src="./img/medicinepurple_drops.png"> -->
            <!-- <img src="./img/medicinepurple_liquid.png"> -->
            <!-- <img src="./img/medicinepurple_needle.png"> -->
            <!-- <img src="./img/medicinepurple_pill.png"> -->
            <!-- <img src="./img/medicinepurple_tablet.png"> -->
            <!-- Purple medications end -->

            <!-- Red medications start -->
            <!-- <img src="./img/medicinered_air.png"> -->
            <!-- <img src="./img/medicinered_cream.png"> -->
            <!-- img src="./img/medicinered_drops.png"> -->
            <!-- <img src="./img/medicinered_liquid.png"> -->
            <!-- <img src="./img/medicinered_needle.png">< -->
            <!-- <img src="./img/medicinered_pill.png"> -->
            <!-- <img src="./img/medicinered_tablet.png"> -->
            <!-- Red medications end -->

            <!-- Yellow medications start -->
            <!-- <img src="./img/medicineyellow_air.png"> -->
            <!-- <img src="./img/medicineyellow_cream.png"> -->
            <!-- <img src="./img/medicineyellow_drops.png">< -->
            <!-- <img src="./img/medicineyellow_liquid.png"> -->
            <!-- <img src="./img/medicineyellow_needle.png"> -->
            <!-- <img src="./img/medicineyellow_pill.png"> -->
            <!-- <img src="./img/medicineyellow_tablet.png"> -->
            <!-- Yellow medications end -->
            
        </div>
    <div class="right-arrow"><img src="./img/arrow_right.png"></div>
</div>
  
  <div class="description">Please choose a timeframe for the medication you are taking</div>
  
    <button type="button" class="btn btn-default duration">4 Hours</button>
    <button type="button" class="btn btn-default duration">6 Hours</button>
    <button type="button" class="btn btn-default duration">8 Hours</button>
    <button type="button" class="btn btn-default duration">Others</button>
  
</div>
<!-- main content end --> 