<!-- main content start -->
<div class="container-fluid">

	<div class="food-intake">

		<!-- row 1 start -->
		<div class="row">
			<div class="col-md-6">
				<p><img src="./img/snack_apple.png"></p>
				<p>Apples</p>
			</div>
			<div class="col-md-6">
				<p><img src="./img/snack_apple.png"></p>
				<p>Apples</p>
			</div>
		</div>
		<!-- row 1 end -->

		<!-- row 2 start -->
		<div class="row">
			<div class="col-md-6">
				<p><img src="./img/snack_apple.png"></p>
				<p>Apples</p>
			</div>
			<div class="col-md-6">
				<p><img src="./img/snack_apple.png"></p>
				<p>Apples</p>
			</div>
		</div>
		<!-- row 2 end -->

		<!-- row 3 start -->
		<div class="row">
			<div class="col-md-6">
				<p><img src="./img/snack_apple.png"></p>
				<p>Apples</p>
			</div>
			<div class="col-md-6">
				<p><img src="./img/snack_apple.png"></p>
				<p>Apples</p>
			</div>
		</div>
		<!-- row 3 end -->

	</div>

</div>
<!-- main content end --> 

<!-- <p>This is the reccomended food view. Test Test!</p> -->
