<!-- main content start -->
  <div class="container-fluid planner-row">
    <div class="planner-child">
        <div class="section1">0900</div>

        <!-- <div class="section2">2</div> -->

            <!-- Green medications start -->
            <!-- <div class="section2"><img src="./img/medicinegreen_air.png"></div> -->
            <!-- <div class="section2"><img src="./img/medicinegreen_cream.png"></div> -->
            <!-- <div class="section2"><img src="./img/medicinegreen_drops.png"></div> -->
            <!-- <div class="section2"><img src="./img/medicinegreen_liquid.png"></div> -->
            <!-- <div class="section2"><img src="./img/medicinegreen_needle.png"></div> -->
            <!-- <div class="section2"><img src="./img/medicinegreen_pill.png"></div> -->
            <div class="section2"><img src="./img/medicinegreen_tablet.png"></div>
            <!-- Green medications end -->

            <!-- Pink medications start -->
            <!-- <div class="section2"><img src="./img/medicinepink_air.png"></div> -->
            <!-- <div class="section2"><img src="./img/medicinepink_cream.png"></div> -->
            <!-- <div class="section2"><img src="./img/medicinepink_drops.png"></div> -->
            <!-- <div class="section2"><img src="./img/medicinepink_liquid.png"></div> -->
            <!-- <div class="section2"><img src="./img/medicinepink_needle.png"></div> -->
            <!-- <div class="section2"><img src="./img/medicinepink_pill.png"></div> -->
            <!-- <div class="section2"><img src="./img/medicinepink_tablet.png"></div> -->
            <!-- Pink medications end -->

            <!-- Pink medications start -->
            <!-- <div class="section2"><img src="./img/medicinepink_air.png"></div> -->
            <!-- <div class="section2"><img src="./img/medicinepink_cream.png"></div> -->
            <!-- <div class="section2"><img src="./img/medicinepink_drops.png"></div> -->
            <!-- <div class="section2"><img src="./img/medicinepink_liquid.png"></div> -->
            <!-- <div class="section2"><img src="./img/medicinepink_needle.png"></div> -->
            <!-- <div class="section2"><img src="./img/medicinepink_pill.png"></div> -->
            <!-- <div class="section2"><img src="./img/medicinepink_tablet.png"></div> -->
            <!-- Pink medications end -->

            <!-- Purple medications start -->
            <!-- <div class="section2"><img src="./img/medicinepurple_air.png"></div> -->
            <!-- <div class="section2"><img src="./img/medicinepurple_cream.png"></div> -->
            <!-- <div class="section2"><img src="./img/medicinepurple_drops.png"></div> -->
            <!-- <div class="section2"><img src="./img/medicinepurple_liquid.png"></div> -->
            <!-- <div class="section2"><img src="./img/medicinepurple_needle.png"></div> -->
            <!-- <div class="section2"><img src="./img/medicinepurple_pill.png"></div> -->
            <!-- <div class="section2"><img src="./img/medicinepurple_tablet.png"></div> -->
            <!-- Purple medications end -->

            <!-- Red medications start -->
            <!-- <div class="section2"><img src="./img/medicinered_air.png"></div> -->
            <!-- <div class="section2"><img src="./img/medicinered_cream.png"></div> -->
            <!-- <div class="section2"><img src="./img/medicinered_drops.png"></div> -->
            <!-- <div class="section2"><img src="./img/medicinered_liquid.png"></div> -->
            <!-- <div class="section2"><img src="./img/medicinered_needle.png"></div> -->
            <!-- <div class="section2"><img src="./img/medicinered_pill.png"></div> -->
            <!-- <div class="section2"><img src="./img/medicinered_tablet.png"></div> -->
            <!-- Red medications end -->

            <!-- Yellow medications start -->
            <!-- <div class="section2"><img src="./img/medicineyellow_air.png"></div> -->
            <!-- <div class="section2"><img src="./img/medicineyellow_cream.png"></div> -->
            <!-- <div class="section2"><img src="./img/medicineyellow_drops.png"></div> -->
            <!-- <div class="section2"><img src="./img/medicineyellow_liquid.png"></div> -->
            <!-- <div class="section2"><img src="./img/medicineyellow_needle.png"></div> -->
            <!-- <div class="section2"><img src="./img/medicineyellow_pill.png"></div> -->
            <!-- <div class="section2"><img src="./img/medicineyellow_tablet.png"></div> -->
            <!-- Yellow medications end -->

        <!-- <div class="section3">3</div> -->

            <!-- Green medications start -->
            <!-- <div class="section2"><img src="./img/medicinegreen_air.png"></div> -->
            <!-- <div class="section2"><img src="./img/medicinegreen_cream.png"></div> -->
            <!-- <div class="section2"><img src="./img/medicinegreen_drops.png"></div> -->
            <!-- <div class="section2"><img src="./img/medicinegreen_liquid.png"></div> -->
            <!-- <div class="section2"><img src="./img/medicinegreen_needle.png"></div> -->
            <!-- <div class="section2"><img src="./img/medicinegreen_pill.png"></div> -->
            <!-- <div class="section2"><img src="./img/medicinegreen_tablet.png"></div> -->
            <!-- Green medications end -->

            <!-- Pink medications start -->
            <!-- <div class="section2"><img src="./img/medicinepink_air.png"></div> -->
            <!-- <div class="section2"><img src="./img/medicinepink_cream.png"></div> -->
            <!-- <div class="section2"><img src="./img/medicinepink_drops.png"></div> -->
            <!-- <div class="section2"><img src="./img/medicinepink_liquid.png"></div> -->
            <!-- <div class="section2"><img src="./img/medicinepink_needle.png"></div> -->
            <!-- <div class="section2"><img src="./img/medicinepink_pill.png"></div> -->
            <div class="section2"><img src="./img/medicinepink_tablet.png"></div>
            <!-- Pink medications end -->

            <!-- Pink medications start -->
            <!-- <div class="section2"><img src="./img/medicinepink_air.png"></div> -->
            <!-- <div class="section2"><img src="./img/medicinepink_cream.png"></div> -->
            <!-- <div class="section2"><img src="./img/medicinepink_drops.png"></div> -->
            <!-- <div class="section2"><img src="./img/medicinepink_liquid.png"></div> -->
            <!-- <div class="section2"><img src="./img/medicinepink_needle.png"></div> -->
            <!-- <div class="section2"><img src="./img/medicinepink_pill.png"></div> -->
            <!-- <div class="section2"><img src="./img/medicinepink_tablet.png"></div> -->
            <!-- Pink medications end -->

            <!-- Purple medications start -->
            <!-- <div class="section2"><img src="./img/medicinepurple_air.png"></div> -->
            <!-- <div class="section2"><img src="./img/medicinepurple_cream.png"></div> -->
            <!-- <div class="section2"><img src="./img/medicinepurple_drops.png"></div> -->
            <!-- <div class="section2"><img src="./img/medicinepurple_liquid.png"></div> -->
            <!-- <div class="section2"><img src="./img/medicinepurple_needle.png"></div> -->
            <!-- <div class="section2"><img src="./img/medicinepurple_pill.png"></div> -->
            <!-- <div class="section2"><img src="./img/medicinepurple_tablet.png"></div> -->
            <!-- Purple medications end -->

            <!-- Red medications start -->
            <!-- <div class="section2"><img src="./img/medicinered_air.png"></div> -->
            <!-- <div class="section2"><img src="./img/medicinered_cream.png"></div> -->
            <!-- <div class="section2"><img src="./img/medicinered_drops.png"></div> -->
            <!-- <div class="section2"><img src="./img/medicinered_liquid.png"></div> -->
            <!-- <div class="section2"><img src="./img/medicinered_needle.png"></div> -->
            <!-- <div class="section2"><img src="./img/medicinered_pill.png"></div> -->
            <!-- <div class="section2"><img src="./img/medicinered_tablet.png"></div> -->
            <!-- Red medications end -->

            <!-- Yellow medications start -->
            <!-- <div class="section2"><img src="./img/medicineyellow_air.png"></div> -->
            <!-- <div class="section2"><img src="./img/medicineyellow_cream.png"></div> -->
            <!-- <div class="section2"><img src="./img/medicineyellow_drops.png"></div> -->
            <!-- <div class="section2"><img src="./img/medicineyellow_liquid.png"></div> -->
            <!-- <div class="section2"><img src="./img/medicineyellow_needle.png"></div> -->
            <!-- <div class="section2"><img src="./img/medicineyellow_pill.png"></div> -->
            <!-- <div class="section2"><img src="./img/medicineyellow_tablet.png"></div> -->
            <!-- Yellow medications end -->

        <!-- <div class="section4">4</div> -->

            <!-- Green medications start -->
            <!-- <div class="section2"><img src="./img/medicinegreen_air.png"></div> -->
            <!-- <div class="section2"><img src="./img/medicinegreen_cream.png"></div> -->
            <!-- <div class="section2"><img src="./img/medicinegreen_drops.png"></div> -->
            <!-- <div class="section2"><img src="./img/medicinegreen_liquid.png"></div> -->
            <!-- <div class="section2"><img src="./img/medicinegreen_needle.png"></div> -->
            <!-- <div class="section2"><img src="./img/medicinegreen_pill.png"></div> -->
            <!-- <div class="section2"><img src="./img/medicinegreen_tablet.png"></div> -->
            <!-- Green medications end -->

            <!-- Pink medications start -->
            <!-- <div class="section2"><img src="./img/medicinepink_air.png"></div> -->
            <!-- <div class="section2"><img src="./img/medicinepink_cream.png"></div> -->
            <!-- <div class="section2"><img src="./img/medicinepink_drops.png"></div> -->
            <!-- <div class="section2"><img src="./img/medicinepink_liquid.png"></div> -->
            <!-- <div class="section2"><img src="./img/medicinepink_needle.png"></div> -->
            <!-- <div class="section2"><img src="./img/medicinepink_pill.png"></div> -->
            <!-- <div class="section2"><img src="./img/medicinepink_tablet.png"></div> -->
            <!-- Pink medications end -->

            <!-- Pink medications start -->
            <!-- <div class="section2"><img src="./img/medicinepink_air.png"></div> -->
            <!-- <div class="section2"><img src="./img/medicinepink_cream.png"></div> -->
            <!-- <div class="section2"><img src="./img/medicinepink_drops.png"></div> -->
            <!-- <div class="section2"><img src="./img/medicinepink_liquid.png"></div> -->
            <!-- <div class="section2"><img src="./img/medicinepink_needle.png"></div> -->
            <!-- <div class="section2"><img src="./img/medicinepink_pill.png"></div> -->
            <!-- <div class="section2"><img src="./img/medicinepink_tablet.png"></div> -->
            <!-- Pink medications end -->

            <!-- Purple medications start -->
            <!-- <div class="section2"><img src="./img/medicinepurple_air.png"></div> -->
            <!-- <div class="section2"><img src="./img/medicinepurple_cream.png"></div> -->
            <!-- <div class="section2"><img src="./img/medicinepurple_drops.png"></div> -->
            <!-- <div class="section2"><img src="./img/medicinepurple_liquid.png"></div> -->
            <!-- <div class="section2"><img src="./img/medicinepurple_needle.png"></div> -->
            <!-- <div class="section2"><img src="./img/medicinepurple_pill.png"></div> -->
            <div class="section2"><img src="./img/medicinepurple_tablet.png"></div>
            <!-- Purple medications end -->

            <!-- Red medications start -->
            <!-- <div class="section2"><img src="./img/medicinered_air.png"></div> -->
            <!-- <div class="section2"><img src="./img/medicinered_cream.png"></div> -->
            <!-- <div class="section2"><img src="./img/medicinered_drops.png"></div> -->
            <!-- <div class="section2"><img src="./img/medicinered_liquid.png"></div> -->
            <!-- <div class="section2"><img src="./img/medicinered_needle.png"></div> -->
            <!-- <div class="section2"><img src="./img/medicinered_pill.png"></div> -->
            <!-- <div class="section2"><img src="./img/medicinered_tablet.png"></div> -->
            <!-- Red medications end -->

            <!-- Yellow medications start -->
            <!-- <div class="section2"><img src="./img/medicineyellow_air.png"></div> -->
            <!-- <div class="section2"><img src="./img/medicineyellow_cream.png"></div> -->
            <!-- <div class="section2"><img src="./img/medicineyellow_drops.png"></div> -->
            <!-- <div class="section2"><img src="./img/medicineyellow_liquid.png"></div> -->
            <!-- <div class="section2"><img src="./img/medicineyellow_needle.png"></div> -->
            <!-- <div class="section2"><img src="./img/medicineyellow_pill.png"></div> -->
            <!-- <div class="section2"><img src="./img/medicineyellow_tablet.png"></div> -->
            <!-- Yellow medications end -->

        <!-- <div class="section5">5</div> -->

            <!-- Green medications start -->
            <!-- <div class="section2"><img src="./img/medicinegreen_air.png"></div> -->
            <!-- <div class="section2"><img src="./img/medicinegreen_cream.png"></div> -->
            <!-- <div class="section2"><img src="./img/medicinegreen_drops.png"></div> -->
            <!-- <div class="section2"><img src="./img/medicinegreen_liquid.png"></div> -->
            <!-- <div class="section2"><img src="./img/medicinegreen_needle.png"></div> -->
            <!-- <div class="section2"><img src="./img/medicinegreen_pill.png"></div> -->
            <!-- <div class="section2"><img src="./img/medicinegreen_tablet.png"></div> -->
            <!-- Green medications end -->

            <!-- Pink medications start -->
            <!-- <div class="section2"><img src="./img/medicinepink_air.png"></div> -->
            <!-- <div class="section2"><img src="./img/medicinepink_cream.png"></div> -->
            <!-- <div class="section2"><img src="./img/medicinepink_drops.png"></div> -->
            <!-- <div class="section2"><img src="./img/medicinepink_liquid.png"></div> -->
            <!-- <div class="section2"><img src="./img/medicinepink_needle.png"></div> -->
            <!-- <div class="section2"><img src="./img/medicinepink_pill.png"></div> -->
            <!-- <div class="section2"><img src="./img/medicinepink_tablet.png"></div> -->
            <!-- Pink medications end -->

            <!-- Pink medications start -->
            <!-- <div class="section2"><img src="./img/medicinepink_air.png"></div> -->
            <!-- <div class="section2"><img src="./img/medicinepink_cream.png"></div> -->
            <!-- <div class="section2"><img src="./img/medicinepink_drops.png"></div> -->
            <!-- <div class="section2"><img src="./img/medicinepink_liquid.png"></div> -->
            <!-- <div class="section2"><img src="./img/medicinepink_needle.png"></div> -->
            <!-- <div class="section2"><img src="./img/medicinepink_pill.png"></div> -->
            <!-- <div class="section2"><img src="./img/medicinepink_tablet.png"></div> -->
            <!-- Pink medications end -->

            <!-- Purple medications start -->
            <!-- <div class="section2"><img src="./img/medicinepurple_air.png"></div> -->
            <!-- <div class="section2"><img src="./img/medicinepurple_cream.png"></div> -->
            <!-- <div class="section2"><img src="./img/medicinepurple_drops.png"></div> -->
            <!-- <div class="section2"><img src="./img/medicinepurple_liquid.png"></div> -->
            <!-- <div class="section2"><img src="./img/medicinepurple_needle.png"></div> -->
            <!-- <div class="section2"><img src="./img/medicinepurple_pill.png"></div> -->
            <!-- <div class="section2"><img src="./img/medicinepurple_tablet.png"></div> -->
            <!-- Purple medications end -->

            <!-- Red medications start -->
            <!-- <div class="section2"><img src="./img/medicinered_air.png"></div> -->
            <!-- <div class="section2"><img src="./img/medicinered_cream.png"></div> -->
            <!-- <div class="section2"><img src="./img/medicinered_drops.png"></div> -->
            <!-- <div class="section2"><img src="./img/medicinered_liquid.png"></div> -->
            <!-- <div class="section2"><img src="./img/medicinered_needle.png"></div> -->
            <!-- <div class="section2"><img src="./img/medicinered_pill.png"></div> -->
            <div class="section2"><img src="./img/medicinered_tablet.png"></div>
            <!-- Red medications end -->

            <!-- Yellow medications start -->
            <!-- <div class="section2"><img src="./img/medicineyellow_air.png"></div> -->
            <!-- <div class="section2"><img src="./img/medicineyellow_cream.png"></div> -->
            <!-- <div class="section2"><img src="./img/medicineyellow_drops.png"></div> -->
            <!-- <div class="section2"><img src="./img/medicineyellow_liquid.png"></div> -->
            <!-- <div class="section2"><img src="./img/medicineyellow_needle.png"></div> -->
            <!-- <div class="section2"><img src="./img/medicineyellow_pill.png"></div> -->
            <!-- <div class="section2"><img src="./img/medicineyellow_tablet.png"></div> -->
            <!-- Yellow medications end -->

    </div>
    <div class="planner-child">
        <div class="section1">1000</div>
        <div class="section2">2</div>
        <div class="section3">3</div>
        <div class="section4">4</div>
        <div class="section5">5</div>
    </div>
    <div class="planner-child">
        <div class="section1">1100</div>
        <div class="section2">2</div>
        <div class="section3">3</div>
        <div class="section4">4</div>
        <div class="section5">5</div>
    </div>
    <div class="planner-child">
        <div class="section1">1200</div>
        <div class="section2">2</div>
        <div class="section3">3</div>
        <div class="section4">4</div>
        <div class="section5">5</div>
    </div>
    <div class="planner-child">
        <div class="section1">1300</div>
        <div class="section2">2</div>
        <div class="section3">3</div>
        <div class="section4">4</div>
        <div class="section5">5</div>
    </div>
    <div class="planner-child">
        <div class="section1">1400</div>
        <div class="section2">2</div>
        <div class="section3">3</div>
        <div class="section4">4</div>
        <div class="section5">5</div>
    </div>
    <div class="planner-child">
        <div class="section1">1500</div>
        <div class="section2">2</div>
        <div class="section3">3</div>
        <div class="section4">4</div>
        <div class="section5">5</div>
    </div>
    <div class="planner-child">
        <div class="section1">1600</div>
        <div class="section2">2</div>
        <div class="section3">3</div>
        <div class="section4">4</div>
        <div class="section5">5</div>
    </div>
    <div class="planner-child">
        <div class="section1">1700</div>
        <div class="section2">2</div>
        <div class="section3">3</div>
        <div class="section4">4</div>
        <div class="section5">5</div>
    </div>
    <div class="planner-child">
        <div class="section1">1800</div>
        <div class="section2">2</div>
        <div class="section3">3</div>
        <div class="section4">4</div>
        <div class="section5">5</div>
    </div>
    <div class="planner-child">
        <div class="section1">1900</div>
        <div class="section2">2</div>
        <div class="section3">3</div>
        <div class="section4">4</div>
        <div class="section5">5</div>
    </div>
    <div class="planner-child">
        <div class="section1">2000</div>
        <div class="section2">2</div>
        <div class="section3">3</div>
        <div class="section4">4</div>
        <div class="section5">5</div>
    </div>
    <div class="planner-child">
        <div class="section1">2100</div>
        <div class="section2">2</div>
        <div class="section3">3</div>
        <div class="section4">4</div>
        <div class="section5">5</div>
    </div>
    <div class="planner-child">
        <div class="section1">2200</div>
        <div class="section2">2</div>
        <div class="section3">3</div>
        <div class="section4">4</div>
        <div class="section5">5</div>
    </div>
    <div class="planner-child">
        <div class="section1">2300</div>
        <div class="section2">2</div>
        <div class="section3">3</div>
        <div class="section4">4</div>
        <div class="section5">5</div>
    </div>
    <div class="planner-child">
        <div class="section1">2400</div>
        <div class="section2">2</div>
        <div class="section3">3</div>
        <div class="section4">4</div>
        <div class="section5">5</div>
    </div>
    <div class="planner-child">
        <div class="section1">0100</div>
        <div class="section2">2</div>
        <div class="section3">3</div>
        <div class="section4">4</div>
        <div class="section5">5</div>
    </div>
  </div>     
<!-- main content end --> 